<div class="my-assets-container">
	<div class="panel panel-default no-bg b-a-2 b-gray-dark collapsible-panel">
		<div class="panel-heading">
			<div class="row">
				<div class="col-lg-12 col-md-3">
					<span class="pull-left label label-primary label-outline">총자산</span>
					<span class="text-white pull-right">{{myAssets.totalKrw | number:0}} KRW</span>
				</div>
			</div>
		</div>
		<!-- START Scroll Inside Panel -->
		<div style="max-height: 292px; overflow-y:scroll" class="custom-scrollbar">
			<div class="panel-body">
				<div class="table-responsive">
					<table class="table table-condensed table-hover">
						<thead>
						<tr>
							<th class="small text-muted text-uppercase">
								<strong></strong>
							</th>
							<th class="small text-muted text-uppercase">
								<strong class="ng-binding">보유량</strong>
							</th>
							<th class="small text-muted text-uppercase">
								<strong>원화가치</strong>
							</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="myAsset in myAssets.myAssets">
							<td class="text-white"><span>{{myAsset.cryptoCurrency}}</span></td>
							<td class="text-muted">{{myAsset.totalCryptoCurrency}}</td>
							<td>{{myAsset.totalCryptoCurrency * myAsset.marketPrice | number:0}} KRW</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<!-- END Scroll Inside Panel -->
		<!-- END Content -->
	</div>
</div>